---
layout: default
title: protocols
permalink: /protocols/
---

<div class="panel panel-motivo" role="tabpanel">
	<div class="panel-heading">
		<!-- Nav tabs -->
		{% include tabProtocol.html %}
	</div>
	<!-- Tab panes -->
	<div class="tab-content panel-body">
		<div role="tabpanel" class="tab-pane active" id="tabProtocol-1">{% include tabProtocol-1.html %}</div>
		<div role="tabpanel" class="tab-pane" id="tabProtocol-2">{% include tabProtocol-2.html %}</div>
	</div>
	
	<!-- <div class="panel-footer text-right">
		<button class="btn btn-default">Καθαρισμός Πεδίων</button>
		<button class="btn btn-primary">Αποθήκευση</button>
	</div> -->
</div>