---
layout: default
title: registration
permalink: /registration/
---

<div class="panel panel-motivo" role="tabpanel">
	<div class="panel-heading">
		<!-- Nav tabs -->
		{% include tabs.html %}
	</div>
	<!-- Tab panes -->
	<div class="tab-content panel-body">
		<div role="tabpanel" class="tab-pane active" id="tab-1">{% include tab-1.html %}</div>
		<div role="tabpanel" class="tab-pane" id="tab-2">{% include tab-2.html %}</div>
		<div role="tabpanel" class="tab-pane" id="tab-3">{% include tab-3.html %}</div>
		<div role="tabpanel" class="tab-pane" id="tab-4"></div>
	</div>
	
	<div class="panel-footer text-right">
		<button class="btn btn-default">Καθαρισμός Πεδίων</button>
		<button class="btn btn-primary">Αποθήκευση</button>
	</div>
</div>