@media (min-width: $grid-float-breakpoint){

	.navbar-brand {
		height: 90px;

		> img{
			width: 100px;
		}
	}


	.navbar-nav {

		> li > a{
			line-height: 60px;
		}

		&.navbar-left > li > a{
			font-size: 16px;

			[class^="icon-"], [class*=" icon-"]{
				font-size: 20px;
			}
		}

	}
}

.navbar-inverse .navbar-nav{

	> .open > a {
		&,
		&:hover,
		&:focus {
			background-color: $navbar-inverse-link-hover-bg;
		}
	}

	> .open.active > a {
		&,
		&:hover,
		&:focus {
			background-color: $navbar-inverse-link-active-bg;
		}
	}
}
