*:focus {
    outline: 0;
}

html, body{
	height: 100%;
}

body{
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(45deg,  #ffffff 0%, #ffffff 75%, #cfe3f0 100%); /* FF3.6+ */
	background: -webkit-linear-gradient(45deg,  #ffffff 0%,#ffffff 75%,#cfe3f0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg,  #ffffff 0%,#ffffff 75%,#cfe3f0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg,  #ffffff 0%,#ffffff 75%,#cfe3f0 100%); /* IE10+ */
	background: linear-gradient(45deg,  #ffffff 0%,#ffffff 75%,#cfe3f0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cfe3f0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	background-repeat: no-repeat;
}

body.bg{
	background: url(http://subtlepatterns.com/patterns/cubes.png) repeat;
}