<header>
	<nav class="navbar navbar-inverse navbar-static-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">
					<img src="{{ "/images/logo-white.svg" | prepend: site.baseurl | prepend: site.url }}" alt="Motivo" >
				</a>
			</div>
			<ul class="nav navbar-nav navbar-left">
				<li {% if page.permalink == "/registration/" %}class="active"{% endif %}>
					<a href="{{ site.baseurl }}/registration"><span class="icon-kataxorisi"></span> Καταχώρηση</a>
				</li>
				<li {% if page.permalink == "/protocols/" %}class="active"{% endif %}>
					<a href="{{ site.baseurl }}/protocols"><span class="icon-protokolla"></span> Πρωτόκολλα</a>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a href="#">
						<span class="icon-useruser"></span>
						Admin
					</a>
				</li>
			</ul>
		</div>
	</nav>
</header>