<form class="form-horizontal">
	<div class="row">
		<div class="col-md-12">
			<div class="form-group">
				<label for="Recipient" class="col-sm-4 col-md-2 control-label">Αποστολέας</label>
				<div class="col-sm-8 col-md-10">
					<div class="input-group">
						<input type="text" include="Recipient" class="form-control" placeholder="Αποστολέας">
						<span class="input-group-btn">
							<button class="btn btn-default" type="button">Αποθήκευση στη βάση</button>
						</span>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label for="Date" class="col-sm-4 control-label">Ημερομηνία Επίδοσης</label>
				<div class="col-sm-8 form-icon">
					<input id="Date" class="form-control" placeholder="21.01.2015" type="text">
					<span class="icon-calendar"></span>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label for="City" class="col-sm-4 control-label">Τόπος Έκδοσης</label>
				<div class="col-sm-8">
					<input id="City" class="form-control" placeholder="Τόπος Έκδοσης" type="text">
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label for="Address" class="col-sm-4 control-label">Διεύθυνση</label>
				<div class="col-sm-8">
					<input id="Address" class="form-control" placeholder="διεύθυνση" type="text">
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label for="Post Code" class="col-sm-4 control-label">Τ.Κ</label>
				<div class="col-sm-8">
					<input id="Post Code" class="form-control" placeholder="Τ.Κ" type="text">
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label for="City" class="col-sm-4 control-label">Πόλη</label>
				<div class="col-sm-8">
					<input id="City" class="form-control" placeholder="Πόλη" type="text">
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label for="Country" class="col-sm-4 control-label">Χώρα</label>
				<div class="col-sm-8">
					<input id="Country" class="form-control" placeholder="Χώρα" type="text">
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label for="send" class="col-sm-4 control-label">Μέθοδος Αποστολής</label>
				<div class="col-sm-8">
					<input id="send" class="form-control" placeholder="Μέθοδος Αποστολής" type="text">
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label for="Carrier" class="col-sm-4 control-label">Ταχυμεταφορέας</label>
				<div class="col-sm-8">
					<input id="Carrier" class="form-control" placeholder="Courier" type="text">
				</div>
			</div>
		</div>
	</div>
</form>