<table class="table">
	<thead>
		<tr>
			<th>Υπηρεσία</th>
			<th>Αρ. Πρωτοκόλλου</th>
			<th colspan="2">Ημερομήνια</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>GGE</td>
			<td>3232</td>
			<td>Dec 31, 2014</td>
			<td class="text-right"><span class="icon-delete"></span></td>
		</tr>
		<tr>
			<td>KTEL ATTIKIS</td>
			<td>2256</td>
			<td>Dec 31, 2014</td>
			<td class="text-right"><span class="icon-delete"></span></td>
		</tr>
		<tr>
			<td>ITB</td>
			<td>4545</td>
			<td>Dec 31, 2014</td>
			<td class="text-right"><span class="icon-delete"></span></td>
		</tr>
	</tbody>
</table>