<div class="form-group">
	<button class="btn btn-success">Προσθήκη</button>
</div>
<table class="table">
	<thead>
		<tr>
			<th>Περιγραφή</th>
			<th>Εκδότης</th>
			<th colspan="2">Ψηφιακό Αρχείο</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>GGE</td>
			<td>3232</td>
			<td>Doc-1</td>
			<td class="text-right">
				<span class="icon-new-message"></span>
				&nbsp;&nbsp;
				<span class="icon-trash"></span>
			</td>
		</tr>
		<tr>
			<td>ITB</td>
			<td>4545</td>
			<td>Doc-1</td>
			<td class="text-right">
				<span class="icon-new-message"></span>
				&nbsp;&nbsp;
				<span class="icon-trash"></span>
			</td>
		</tr>
	</tbody>
</table>