<form class="form-horizontal">
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<label for="ProtocolType" class="col-sm-4 control-label">Τύπος Πρωτοκόλλου</label>
				<div class="col-sm-8">
					<input id="ProtocolType" class="form-control" placeholder="Τύπος Πρωτοκόλλου" type="text" tabindex="1">
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label for="DocumentType" class="col-sm-4 control-label">Τύπος Εγγράφου</label>
				<div class="col-sm-8">
					<input id="DocumentType" class="form-control" placeholder="Τύπος Εγγράφου" type="text" tabindex="2">
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="form-group">
				<label for="Topic" class="col-sm-4 col-md-2 control-label">Θέμα</label>
				<div class="col-sm-8 col-md-10">
					<input type="text" id="Topic" class="form-control" placeholder="Θέμα" tabindex="3">
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label for="ref" class="col-sm-4 control-label">Αρ. Πρωτ. Εκδότη</label>
				<div class="col-sm-8">
					<input id="ref" class="form-control" placeholder="Αρ. Πρωτοκόλλλου Εκδότη" type="text" tabindex="4">
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label for="ReleaseDate" class="col-sm-4 control-label">Ημερομηνία Έκδοσης</label>
				<div class="col-sm-8">
					<input id="ReleaseDate" class="form-control" placeholder="21.01.2015" type="text" tabindex="5">
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label for="place" class="col-sm-4 control-label">Τόπος Έκδοσης</label>
				<div class="col-sm-8">
					<input id="place" class="form-control" placeholder="21.01.2015" type="text" tabindex="6">
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label for="gradation" class="col-sm-4 control-label">Διαβάθμιση</label>
				<div class="col-sm-8">
					<input id="gradation" class="form-control" placeholder="Διαβάθμιση" type="text" tabindex="7">
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="form-group">
				<label for="receivers" class="col-sm-4 col-md-2 control-label">Παραλήπτες</label>
				<div class="col-sm-8 col-md-10">
					<input type="text" id="receivers" class="form-control" placeholder="Παραλήπτες" tabindex="8">
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="form-group">
				<label for="Notes" class="col-sm-4 col-md-2 control-label">Σημειώσεις</label>
				<div class="col-sm-8 col-md-10">
					<input type="text" id="Notes" class="form-control" placeholder="Σημειώσεις" tabindex="9">
				</div>
			</div>
		</div>
	</div>
</form>