<form class="form-horizontal">
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<label for="ProtocolType" class="col-sm-4 control-label">Τύπος Πρωτοκόλλου</label>
				<div class="col-sm-8">
					<select class="form-control" tabindex="1">
						<option selected>Εισερχόμενο</option>
						<option>Εξερχόμενο</option>
					</select>
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="form-group">
				<label for="Topic" class="col-sm-4 col-md-2 control-label">Θέμα</label>
				<div class="col-sm-8 col-md-10">
					<input type="text" id="Topic" class="form-control" placeholder="Θέμα" tabindex="2">
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label for="ref" class="col-sm-4 control-label">Αρ. Πρωτ. Εκδότη</label>
				<div class="col-sm-8">
					<input id="ref" class="form-control" placeholder="Αρ. Πρωτοκόλλλου Εκδότη" type="text" tabindex="3">
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label for="ReleaseDate" class="col-sm-4 control-label">Ημερομηνία Έκδοσης</label>
				<div class="col-sm-8 form-icon">
					<input id="ReleaseDate" class="form-control" placeholder="21.01.2015" type="text" tabindex="4">
					<span class="icon-calendar"></span>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label for="place" class="col-sm-4 control-label">Διαβάθμιση Εγγράφου</label>
				<div class="col-sm-8">
					<select class="form-control" tabindex="5">
						<option value="?" selected="selected">Παρακαλώ επιλέξτε</option>
						<option value="0">Άκρως Απόρρητο</option>
						<option value="1">Απόρρητο</option>
						<option value="2">Εμπιστευτικό</option>
						<option value="3">Περιορισμένης Χρήσης</option>
						<option value="4">Αδιαβάθμητο</option>
					</select>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label for="gradation" class="col-sm-4 control-label">Τύπος Εγγράφου</label>
				<div class="col-sm-8">
					<select class="form-control" tabindex="6">
						<option value="?" selected="selected">Παρακαλώ επιλέξτε</option>
						<option value="0">sdfsdfs</option>
						<option value="1">asasasas</option>
					</select>
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="form-group">
				<label for="receivers" class="col-sm-4 col-md-2 control-label">Παραλήπτες</label>
				<div class="col-sm-8 col-md-10">
					<input type="text" id="receivers" class="form-control" placeholder="Παραλήπτες" tabindex="7">
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="form-group">
				<label for="Notes" class="col-sm-4 col-md-2 control-label">Σημειώσεις</label>
				<div class="col-sm-8 col-md-10">
				<textarea class="form-control" rows="5" placeholder="Σημειώσεις" tabindex="8"></textarea>
				</div>
			</div>
		</div>
	</div>
</form>