<form class="form-horizontal">
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<div class="checkbox">
				<label>
					<input type="checkbox"> Πρόσφατα
				</label>
			</div>
		</div>
	</div>
	<div class="form-group">
		<label for="inputEmail3" class="col-sm-2 control-label">Ημέρες:</label>
		<div class="col-sm-4">
			<input type="email" class="form-control" id="inputEmail3" placeholder="" disabled>
		</div>
	</div>
	<hr>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<div class="checkbox">
				<label>
					<input type="checkbox"> Με Αριθμό
				</label>
			</div>
		</div>
	</div>
	<div class="form-group">
		<label for="inputEmail3" class="col-sm-2 control-label">Αριθμός Πρωτοκόλλου:</label>
		<div class="col-sm-4">
			<input type="email" class="form-control" id="inputEmail3" placeholder="" disabled>
		</div>
	</div>
	<hr>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<div class="checkbox">
				<label>
					<input type="checkbox"> Με Ημερομηνία έκδοσης
				</label>
			</div>
		</div>
	</div>
	<div class="form-group">
		<label for="inputEmail3" class="col-sm-2 control-label">Ημερομηνία Από:</label>
		<div class="col-sm-4 form-icon">
			<input type="email" class="form-control" id="inputEmail3" placeholder="21.01.2015" disabled>
			<span class="icon-calendar"></span>
		</div>
		<label for="inputEmail3" class="col-sm-1 text-center control-label">προς</label>
		<div class="col-sm-4 form-icon">
			<input type="email" class="form-control" id="inputEmail3" placeholder="21.01.2015" disabled>
			<span class="icon-calendar"></span>
		</div>
	</div>
	<hr>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-9">
			<button type="submit" class="btn btn-default btn-primary">Αναζήτηση</button>
		</div>
	</div>
</form>