<form class="form-horizontal">
	<div class="form-group">
		<label for="filter" class="col-sm-2 control-label">Εύρεση Πρωτοκόλλου</label>
		<div class="col-sm-10">
			<input type="text" id="filter" class="form-control" placeholder="Ξεκινήστε να πληκτρολογείτε για να αναζητήσετε πρωτόκολλα..." tabindex="3">
		</div>
	</div>
</form>

<table class="table">
	<caption>Πρωτόκολλα (Ποσ.: 13)</caption>
	<thead>
		<tr>
			<th>Ημερομηνία</th>
			<th>Περίοδος</th>
			<th>Τύπος</th>
			<th>Αριθμός</th>
			<th>Θέμα</th>
			<th>Αποστολέας</th>
			<th colspan="2">Πρωτ. Εκδότη</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th scope="row">1/20/2015</th>
			<td>Primo</td>
			<td>Εισερχόμενο</td>
			<td>28</td>
			<td>Αίτηση Αδείας</td>
			<td>ΔΕΗ</td>
			<td>8/61</td>
			<td class="text-right">
				<span class="icon-open-in-new"></span>
				&nbsp;&nbsp;
				<span class="icon-file"></span>
			</td>
		</tr>
		<tr>
			<th scope="row">1/20/2015</th>
			<td>Primo</td>
			<td>Εισερχόμενο</td>
			<td>28</td>
			<td>Αίτηση Αδείας</td>
			<td>ΔΕΗ</td>
			<td>8/61</td>
			<td class="text-right">
				<span class="icon-open-in-new"></span>
				&nbsp;&nbsp;
				<span class="icon-file"></span>
			</td>
		</tr>
		<tr>
			<th scope="row">1/20/2015</th>
			<td>Primo</td>
			<td>Εισερχόμενο</td>
			<td>28</td>
			<td>Αίτηση Αδείας</td>
			<td>ΔΕΗ</td>
			<td>8/61</td>
			<td class="text-right">
				<span class="icon-open-in-new"></span>
				&nbsp;&nbsp;
				<span class="icon-file"></span>
			</td>
		</tr>
	</tbody>
</table>